# Java / Maven
backend/target/
*.class

# VS Code
.vscode/

# Lokale Konfiguration
backend/.env
*.local

# Betriebssystem
.DS_Store
Thumbs.db

#alte DB migrationsdaten
/backend/database/migrate.sql

#log
backend/finanzen.log