# Java / Maven
target/
*.class

# VS Code
.vscode/

# Lokale Konfiguration
.env
*.local

# Betriebssystem
.DS_Store
Thumbs.db

#alte DB migrationsdaten
/backend/database/migrate.sql

backend/target/